@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@font-face {
  font-family: 'Source Code Pro';
  src: local('Source Code Pro'), url(https://fonts.gstatic.com/s/sourcecodepro/v13/mrl8iJctOUT__6iNOj3yARsK4xQ.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

.info {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-gap: 10px;
}

.icons {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top:55px;
 
}

.icons img{
  width: 150px;
  height: 150px;
  padding: 70px;
}

.content {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  right: 100px;
  top: 70px;
  
}

.vision,
.mission {
  width: 900px;
  height: 200px;
  padding: 30px;
  
}
.vision h1, .mission h1{
  text-align: left;
}
p{
  font-family: 'Source Code Pro', monospace;
  font-size: 14pt;
  text-align: justify;
  text-align-last: left ;
}

.carousel{
  width: 1700px;
  height: 1000px;
}

@media only screen and (max-width: 480px) {

  .carousel{
    width: 100%;
    height: 300px;
    align-content: center;
  }

div.container div.info div.icons img
{
  width: 2px;
  height: auto;

}

.mission .mission_text
{
  font-size: 10px;
}

}