
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.App{
  text-align: center;
  font-family: 'Lato', sans-serif;
  
}

.links{
  background-color: rgb(221, 70, 28);
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sliderimg{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.alice-carousel {
  position: relative;
  width: 100%;
  height:auto;
  margin: auto;
  direction: ltr;
  text-align: center;
}

.bullets ul
{
  list-style-type: none;
}

.Mission_and_Vision p{
  margin: auto auto 0px 0px;
  padding-left:100px;
  padding-right: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline-flex;
  font-family: 'Lato', sans-serif;
}

.bullets {
  font-size: 24px;
  background-color: #fff;
  color: #000;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bullets ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bullets li {
  display: inline;
  margin-right: 30px;
}

.bullets li:last-child {
  margin-right: 0;
}

.bullets li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.bullets li a:hover {
  color: #ff6600;
}

.contact{
  display: flex;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

.contact-logo{
  width:250px;
  height: 250px;
  padding: 100px 60px 0px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.contact h3
{
  color: #ff6600;
}

.contact h3 p{
  font-family: 'Lato', sans-serif;
}

.haccs {
  position:static;
  margin-left: 0px;
  margin-right: auto;
  padding-right: 55px;
  padding-left: 10px;
  vertical-align: middle;
  display: flex;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  color: #ff6600;
}

.txt_below{
  padding: 8px;
  align-items: self-end;
}
