.footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: #333;
    color: white;
    font-family: sans-serif;
    padding: 5px; 
    width: 100%;
  }